.site-footer {
  display: flex;
  flex-direction: column;

  .na-break-section {
    margin: 30px auto;
  }
}

.site-info {
  background: $dark;

  .row {
    padding: 50px 100px;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  a,
  span {
    color: $white;
  }
}

.na-footer-title {
  color: $light;
  font-size: 16px;
}
