.site-footer {
  .na-break-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.site-info {
  background: $dark;

  .row {
    padding: 50px 100px;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  a,
  span {
    color: $white;
  }
}

.na-footer-title {
  color: $light;
  font-size: 16px;
}
