// navbar
.navbar {
  background: $dark;
  font-size: 14px;

  a {
    font-size: 14px;
  }
}

.na-custom-logo-container {
  height: 92px !important;
}

// search form
.na-search-form {
  position: relative;
}

.na-search-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.na-search-input {
  height: 38px;
}

.na-search-dropdown {
  border: 1px solid $gray;
  border-radius: 0.25rem;
  background: $white;
  position: absolute;
  width: 278px;
  top: 0;
  margin-top: 54px;
  z-index: 2;

  .fas {
    color: $gray;
  }
}

.na-search-dropdown-loading {
  padding: 0.813rem;
}

.na-search-dropdown-item {
  padding: 0.5rem;
  background: $white;
  margin: 0 auto 5px;
  text-align: left;
  width: 100%;
  color: black;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    background: $light;
    color: black;
  }
}
