html {
  overflow-x: hidden;
}
.jumbotron {
  background: $white;

  @media #{$medium} {
    padding: 100px;
  }
}

.hidden {
  display: none;
}

.na-image-container {
  img {
    border-radius: 5px;
    max-width: 95vw;
    width: 100%;
    margin: 0 auto;
  }
}

.na-image-text-container {
  @media #{$medium} {
    padding: 60px;
  }
}
