/* sticky footer */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.site {
  flex: 1 0 auto;
}

.site-footer {
  flex-shrink: 0;
}
/* sticky footer */

html {
  overflow-x: hidden;
}
.jumbotron {
  background: $white;

  @media #{$medium} {
    padding: 100px;
  }
}

.hidden {
  display: none;
}

.na-image-container {
  img {
    max-width: 95vw;
    width: 100%;
    margin: 0 auto;
  }
}

.na-image-text-container {
  @media #{$medium} {
    padding: 60px;
  }
}

.na-break-section {
  margin: 100px auto;

  @media #{$medium} {
    max-width: 1140px;
  }
}

.na-break-line {
  width: 150px;
  margin: 0 auto;
}
