/* sticky footer */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.site {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
/* sticky footer */

.hidden {
  display: none;
}

.na-single-image {
  width: 520px;
  max-width: 100%;
}

.na-single-container {
  padding: 50px;
  border: 1px solid $gray;
}

.na-navbar-brand {
  display: flex;
}
