// colors
$black: #000;
$white: #fff;
$blue: #3273dc;
$dark: #4a4a4a;
$gray: #808080;
$light: #bfbfbf;

// fonts

// media queries
$xsmall: '(max-width: 575.98px)';
$small: '(max-width: 767.98px)';
$medium: '(max-width: 991.98px)';
$large: '(max-width: 1199.98px)';
